

<div [ngClass]="{'nav-open':isMobileMenuOpen}">
  <div class="sidebar-collapse">

    <div id="bodyClick"
         *ngIf="isMobileMenuOpen"
         (click)="isMobileMenuOpen = false"></div>
<div class="lk_sidebar navbar navbar-expand-lg">
  <button class="navbar-toggler" type="button"
          [ngClass]="{'toggled':isMobileMenuOpen}"
          (click)="isMobileMenuOpen = !isMobileMenuOpen">
    <span class="navbar-toggler-bar bar1"></span>
    <span class="navbar-toggler-bar bar2"></span>
    <span class="navbar-toggler-bar bar3"></span>
  </button>

  <div class="content collapse navbar-collapse">
    <div class="lk_sidebar--summary">
      <div class="lk_profile--name">{{authLocalStorage.auth.data.name}} </div>
      <div class="lk_profile--ball total">Баланс баллов: <span>{{card.points | thousand}}</span></div>
    </div>
    <div class="lk_sidebar--nav">
      <a class="lk_sidebar--link" routerLink="/profile/main" routerLinkActive="current"
         (click)="isMobileMenuOpen = false">
        <i class="mdi mdi-home"></i> Главная
      </a>
      <a class="lk_sidebar--link" routerLink="/profile/history" routerLinkActive="current"
         (click)="isMobileMenuOpen = false">
        <i class="mdi mdi-credit-card-multiple"></i> История операций
      </a>
      <a class="lk_sidebar--link" routerLink="/profile/settings" routerLinkActive="current"
         (click)="isMobileMenuOpen = false">
        <i class="mdi mdi-settings"></i> Настройки профиля
      </a>
    </div>
    <div class="lk_status">
      <div class="lk_status--title">
        Ваш статус  <span class="lk_status--label label-2">{{card.status.name}}</span>
      </div>
      <div class="lk_status--wrap">
        <div class="lk_status--item" *ngFor="let level of bonusLevelsForSlider; let $index = index">
          <div class="lk_status--item--icon"></div>
          <div class="lk_status--item--title">{{level.percent}}%</div>
          <div class="lk_status--item--sum">{{level.amount_from}} <i class="mdi mdi-currency-rub"></i></div>
        </div>
        <div class="lk_status--progress" [style.left]="(0 || followed) + '%'">
          <span>{{card.bonus_amount | thousand}} <i class="mdi mdi-currency-rub"></i></span>
        </div>
      </div>
    </div>
    <qr-barcode-button code="{{card.number}}"></qr-barcode-button>
  </div>
</div>
  </div>
</div>