
<div class="lk_sidebar">
  <div class="content">
    <div class="lk_sidebar--summary">
      <div class="lk_person--name">Александр</div>
      <div class="lk_person--ball total">Баланс баллов: <span>1234</span></div>
    </div>
    <div class="lk_sidebar--nav">
      <a class="lk_sidebar--link" routerLink="/profile">Главная</a>
      <a class="lk_sidebar--link" routerLink="/profile/history">История операций</a>
      <a class="lk_sidebar--link" routerLink="/profile/settings">Настройки профиля</a>
    </div>
    <div class="lk_status">
      <div class="lk_status--title">
        Ваш статус  <span>Серебряный</span> <br>
        Сумма покупок до 5000 рублей
        <span>За каждые 100 рублей - 1 балл</span>
      </div>

      <div class="lk_status--wrap">
        <div class="lk_status--item">
          <div class="lk_status--item--title">Платиновый</div>
          > 10 000 рублей
          <span>100 рублей - 5 баллов</span>
        </div>
        <div class="lk_status--item">
          <div class="lk_status--item--title">Золотой</div>
          > 5000 рублей
          <span>100 рублей - 3 балл</span>
        </div>
        <div class="lk_status--item">
          <div class="lk_status--item--title">Серебряный</div>
          < 5000 рублей
          <span>100 рублей - 1 балл</span>
        </div>
        <div class="lk_status--progress"></div>
      </div>
    </div>
  </div>
</div>