

<div [ngClass]="{'nav-open':isMobileMenuOpen}">
  <div class="sidebar-collapse">
    <div class="header header_nav navbar navbar-expand-lg">
      <div id="bodyClick"
           *ngIf="isMobileMenuOpen"
           (click)="isMobileMenuOpen = false"></div>
      <button class="navbar-toggler" type="button"
              [ngClass]="{'toggled':isMobileMenuOpen}"
              (click)="isMobileMenuOpen = !isMobileMenuOpen">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>

      <div class="header_nav--container collapse navbar-collapse"
           (click)="isMobileMenuOpen = false">
        <div class="header_nav--col">
          <a [routerLink]="" ref="#section-1" scrollToIfExactRoute="#section-1" forState="" target="_self" class="header_nav--link">Преимущества карты</a>
          <a [routerLink]="" ref="#section-4" scrollToIfExactRoute="#section-4" forState="" target="_self" class="header_nav--link">Как оформить</a>
          <a [routerLink]="" ref="#section-5" scrollToIfExactRoute="#section-5" forState="" target="_self" class="header_nav--link">Как накопить</a>
        </div>
        <div class="header_nav--col">
          <a [routerLink]="" ref="#section-6" scrollToIfExactRoute="#section-6" forState="" target="_self" class="header_nav--link">Как потратить</a>
          <!--<a routerLink="/partners" class="header_nav&#45;&#45;link">Где воспользоваться</a>-->

          <div *ngIf="!authLocalStorage.auth.data.hash;then isNotLogIn else isLogIn"></div>
          <ng-template #isNotLogIn>
            <a routerLink="/login" class="btn btn-neutral btn-simple btn-sm">
              <i class="now-ui-icons users_single-02"></i>Войти
            </a>
          </ng-template>
          <ng-template #isLogIn>
            <a routerLink="/profile/main" class="btn btn-neutral btn-simple btn-sm">
              <i class="now-ui-icons users_single-02"></i>Личный кабинет
            </a>
          </ng-template>
        </div>
      </div>
      <a routerLink="/" class="logo"></a>

      <div *ngIf="!authLocalStorage.auth.data.hash;then _isNotLogIn else _isLogIn"></div>
      <ng-template #_isNotLogIn>
        <a routerLink="/login" class="btn btn-neutral btn-simple btn_mob btn-sm">
          <i class="now-ui-icons users_single-02"></i>Войти
        </a>
      </ng-template>
      <ng-template #_isLogIn>
        <a routerLink="/profile/main" class="btn btn-neutral btn-simple btn_mob btn-sm">
          <i class="now-ui-icons users_single-02"></i>Личный кабинет
        </a>
      </ng-template>
    </div>
  </div>
</div>
