.dimmer {
    &:after {
        background: $white-color;
        content: '';
        
    }
    &-on {
        &:after {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            opacity: .7;
            z-index: 1;
        }
        .dimmer-block {

        }
    }
    &-block {
        position: relative;
        z-index: 2;
    }
}