// welcome slide
.w_slide {
    position: relative;
    min-height: 100vh;
    &--bg {
        background-image: url(../img/slide-bg-1.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
    &--img {
        @media screen and (max-width: 1110px){
            text-align: center;
            img {
                max-width: 90%;
            }
        }
    }
    &--content {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 5%;
        z-index: 1;
        @media screen and (max-height: 660px){
            position: relative;
            bottom: auto;
            padding-top: 180px;
            h1 {
                font-size: 24px;
            }
            p {
                font-size: 16px;
            }
        }
        @media screen and (max-width: 760px){
            position: relative;
            bottom: auto;
            padding-top: 180px;
            h1 {
                font-size: 24px;
            }
            p {
                font-size: 16px;
            }
        }
        h1 {
            
            color: $white-color;
        }
        p {
            
            color: $white-color;
            font-size: 18px;
        }
    }
}


// main sections
.section_block {
    position: relative;
    overflow: hidden;
    &--content {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        @media screen and (max-width: 767px){
            position: relative;
        }
        &:before {
            background-image: url(../img/circle.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            content: '';
            display: block;
            position: absolute;
            opacity: .2;
            padding-left: 138%;
            padding-top: 138%;
            @media screen and (max-width: 767px){
                padding-left: 170%;
                padding-top: 170%;
            }
        }
        .section-1 & {
            background: $brand-success;
            &:before {
                transform: translate(-50%, -50%);
            }
        }
        .section-2 & {
            background: $dark-gray;
            &:before {
                transform: translate(50%, -50%);
                right: 0;
            }
        }
        .section-3 & {
            background: $brand-success;
            &:before {
                transform: translate(-50%, -50%);
            }
        }
        .section-4 & {
            &:before {
                display: none;
            }
        }
        .section-6 & {
            background: $brand-success;
            &:before {
                transform: translate(-50%, -50%);
            }
        }
        
        .page-title {
            color: $white-color;
            font-size: 2vw;
            @media screen and (max-width: 760px){
                font-size: 24px;
            }
        }
        p:not(.page-title) {
            font-size: 1.1vw;
            color: $white-color;
            @media screen and (max-width: 1200px){
                font-size: 1.5vw;
            }
            @media screen and (max-width: 760px){
                font-size: 16px;
            }
        }
    }
    &.section-4 {
        .page-title {
            font-size: 36px;
            color: $black-color;
            a {
                text-decoration: underline;
                color: $brand-success;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        &:before {
            background-image: url(../img/circle.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            content: '';
            display: block;
            position: absolute;
            opacity: .1;
            padding-left: 100%;
            padding-top: 67%;
            left: 50%;
            top: 0;
            @include translate(-50%, -50%);
        }
        .section_block--img {
            background-size: contain;
            background-position: left bottom;
            padding-top: 100%;
        }
    }
    &.section-5 {
        background: $black-color;
        padding-top: 120px;
        @media screen and (max-width: 767px){
            padding-top: 0;
        }
        .section_block--content {
            
            position: relative;
            padding-top: 100%;
            @media screen and (max-width: 767px){
                padding-top: 0;
            }
            &:before {
                display: none;
            }
            a {
                color: $brand-warning;
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
            .section_block--wrap {
                
            }
        }
        .section-col-1 {
            .section_block--wrap {
                top: 0;
                transform: translate(-50%, 10%);
                @media screen and (max-width: 1400px){
                    transform: translate(0%, 0%);
                }
                @media screen and (max-width: 767px){
                    transform: translate(0%, 0%);
                }
            }
        }
        .section-col-2 {
            background: $brand-warning;
            .section_block--content {
                &:before {
                    left: 0;
                    top: 0;
                    display: block;
                    transform: translate(-50%, -50%);
                }
            }
        }
        .section-col-3 {
            background: $medium-gray;
            .section_block--content {
                &:before {
                    left: 0;
                    top: 0;
                    display: block;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
    &.section-7 {
        background-image: url(../img/section_img--7.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        color: $white-color;
        @media screen and (max-width: 767px){
            padding: 30px 0;
        }
        .container > .row {
            @media screen and (min-width: 768px){
                min-height: 70vh;
            }
        }
        .partner_logo {
            
            @media screen and (max-width: 767px){
                margin-bottom: 30px;
                padding-top: 100%;
                position: relative;
            }
            img {
                max-width: 100%;
                max-height: 100%;
                @media screen and (max-width: 767px){
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                }
            }
        }
    }
    &--wrap {
        left: 50%;
        top: 50%;
        position: absolute;
        @include translate(-50%, -50%);
        @media screen and (max-width: 1400px){
            left: 10%;
            right: 10%;
            @include translate(0%, -50%);
        }
        @media screen and (max-width: 767px){
            @include translate(0%, 0%);
            position: relative;
            left: auto;
            right: auto;
            top: auto;
            padding: 70px 30px;
        }
    }
    &--img {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        padding-top: 68.7%;
        @media screen and (max-width: 767px){
            background-size: cover;
        }
    }
}