
<footer class="footer">
  <div class="container">
    <div class="text-center">
      <div class="footer-social">
        <a [hrefExt]="'footer.hrefVk' | translate" target="_blank"><i class="mdi mdi-vk"></i></a>
        <a [hrefExt]="'footer.hrefFacebook' | translate" target="_blank"><i class="mdi mdi-facebook"></i></a>
        <!--<a [hrefExt]="'footer.hrefInstagram' | translate" target="_blank"><i class="mdi mdi-instagram"></i></a>
        <a [hrefExt]="'footer.hrefGooglePlus' | translate" target="_blank"><i class="mdi mdi-google-plus"></i></a>
        <a [hrefExt]="'footer.hrefTwitter' | translate" target="_blank"><i class="mdi mdi-twitter"></i></a>
        <a [hrefExt]="'footer.hrefYoutube' | translate" target="_blank"><i class="mdi mdi-youtube"></i></a>-->
      </div>
      <div class="footer-links">
        <!--<a [hrefExt]="'footer.hrefVk' | translate" target="_blank">Программы лояльности</a>-->
        <for-partners-button><a href="javascript:return;" target="_self">Партнерам</a></for-partners-button>
      </div>
    </div>
  </div>
</footer>
