
<nav-header></nav-header>
<div class="lk_promotions">
  <div class="lk_promotions--wellcome">
    <div class="lk_promotions--wellcome--wrap">
      <h1 class="page-title">Список партнеров</h1>
      <p>Unde vero recusandae maiores id sit officiis neque maxime ex dolore iure vel voluptatibus ab omnis perferendis magnam, at quod, officia excepturi.</p>
      <div class="lk_promotions--tabs">
        <ul class="nav nav-tabs nav-tabs-success justify-content-center" role="tablist">
          <li class="nav-item">
            <button class="nav-link pointer" (click)="type = Type.List" [ngClass]="{active:type === Type.List}">
              <i class="now-ui-icons design_bullet-list-67"></i> Списком
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link pointer" (click)="type = Type.Map" [ngClass]="{active:type === Type.Map}">
              <i class="now-ui-icons location_pin"></i> На карте
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="lk_promotions--list">
    <div class="container-fluid">
      <div class="tab-content" [ngSwitch]="type">
        <ng-template [ngSwitchCase]="Type.List">
          <div>
            <div class="form-group">
              <div class="row align-items-center">
                <div class="col-12 col-md-3">
                  <div class="form-group">
                    <select class="form-control" [(ngModel)]="filter.payment_type">
                      <option value="">Все операции</option>
                      <option [value]="0">Получить баллы</option>
                      <option [value]="1">Потратить баллы</option>
                    </select>
                  </div>
                </div>
                <div class="col-12 col-md-3">
                  <div class="form-group">
                    <select class="form-control" [(ngModel)]="filter.category.id">
                      <option value="">Все категории</option>
                      <option *ngFor="let cat of categories" [ngValue]="cat.id">{{cat.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-12 col-md-3">
                  <div class="form-group">
                    <input type="text" [(ngModel)]="filter.name" class="form-control" placeholder="Название">
                    <!--<input type="text" class="form-control" placeholder="метро" [(ngModel)]="filter.metro">-->
                  </div>
                </div>
                <div class="col-12 col-md-3">
                  <div class="form-group">
                    <div class="checkbox text-white">
                      <input id="remember" type="checkbox"
                             [ngModel]="f"
                             (ngModelChange)="filter.bonus_type = $event === true? 1 : null">
                      <label for="remember">Акция</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-md-6 col-lg-4 col-xl-2"
                   *ngFor="let partner of partners
                    | filter : filter : false
                    | paginate: { itemsPerPage: 48, currentPage: currentPage}">
                <a routerLink="/partner/{{partner.id}}" class="lk_promotions--item">
                  <span class="lk_promotions--img"><img src="{{partner.image}}" alt=""></span>
                  <span class="lk_promotions--footer">
                    <span class="lk_promotions--title">
                      {{partner.name}}
                    </span>
                    <span class="lk_promotions--category">{{partner.category.name}}</span>
                    <span class="lk_promotions--address">
                      <span class="icon ic-metro"></span>{{partner.metro}}
                    </span>
                    <span class="lk_promotions--ic">
                      <span class="icon ic-pay"
                            *ngIf="partner.payment_type === 1 || partner.payment_type === 2"
                            tooltip="Потратить баллы">
                      </span>
                      <span class="icon ic-collect"
                            *ngIf="partner.payment_type === 0 || partner.payment_type === 2"
                            tooltip="Получить баллы">
                      </span>
                      <span class="badge badge-success" *ngIf="partner.bonus_type">акция</span>
                    </span>
                  </span>
                </a>
              </div>

              <pagination-controls class="pagination pagination-success col-12"
                                   (pageChange)="currentPage=$event"
                                   maxSize="9"
                                   directionLinks="false"
                                   autoHide="true"></pagination-controls>
            </div>
          </div>
        </ng-template>
        <ng-template [ngSwitchCase]="Type.Map">
          <div>
            <div class="card">
              <map-view [points]="_partners" (onBoundsChange)="onBoundsChange($event)"></map-view>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>