.footer{
    padding: 25px 0;
    background: #212123;
    .wrap & {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    &.footer-default{
        background-color: #f2f2f2;
    }
    &.footer-page {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }

    nav{
        display: inline-block;
        float: left;
    }
    .description {
        line-height: 1.2;
        font-size: .8em;
        color: inherit;
        font-weight: $font-weight-normal;
        margin: 7px 0 0 40px;
    }


    .footer-links {
        display: inline-block;
        a {
            color: $white-color;
            display: inline-block;
            font-size: 16px;
            text-decoration: underline;
            margin: 0 10px;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .footer-social {
        display: inline-block;
        a {
            width: 30px;
            height: 30px;
            display: inline-block;
            .mdi {
                color: #8a8a8a;
                font-size: 24px;
            }
        }
    }

    &:after{
        display: table;
        clear: both;
        content: " ";
    }
  

    
}
