.footer{
    padding: 25px 0;
    background: #212123;

    &.footer-default{
        background-color: #f2f2f2;
    }
    &.footer-page {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }

    nav{
        display: inline-block;
        float: left;
    }
    .description {
        line-height: 1.2;
        font-size: .8em;
        color: inherit;
        font-weight: $font-weight-normal;
        margin: 7px 0 0 40px;
    }


    .copyright{
        font-weight: $font-weight-semi;
        color: $success-color;
    }
    .footer-links {
        text-align: center;
        a {
            color: $success-color;
            display: inline-block;
        }
        span {
            background: $success-color;
            width: 5px;
            height: 5px;
            border-radius: 5px;
            margin: 0 10px;
            display: inline-block;
        }
    }
    .footer-social {
        margin: 15px 0;
        a {
            width: 30px;
            height: 30px;
            display: inline-block;
            svg {
                width: 100%;
                height: 100%;
                path {
                    fill: $success-color;
                }
            }
        }
    }

    &:after{
        display: table;
        clear: both;
        content: " ";
    }
  

    
}
