.lk {
	padding: 30px 0;
	&_card {
		@extend .card;
	}
	&_title {
		font-size: 1.5em;
		margin-bottom: 10px;
	}

	


}
// card list
.card_list {
	@extend .card;
	&--item {
		label {
			vertical-align: middle;
		}
		img {
			max-width: 150px;
		}
	}
}