
<div class="lk_content">
  <div class="lk_content--wrap" *ngIf="!isLoading">
    <div class="alert"
         *ngIf="semiFilledProfile;else filledProfile"
         [ngClass]="isArenasport? 'alert-success' : 'alert-primary'">
      Приветствуем Вас, Уважаемый {{'user' | translate}}! Представьтесь пожалуйста и получите 400 приветственных баллов
      на свой счет. <a class="btn btn-info btn-sm" routerLink="/profile/settings">ПОЛУЧИТЬ БАЛЛЫ</a>
    </div>
    <ng-template #filledProfile>
      <div class="alert" [ngClass]="isArenasport? 'alert-success' : 'alert-primary'">
        <span *ngIf="level < bonusLevels.length; else lastLevel">
          Ваш статус {{card.status.name}}, Вам доступен кэш бек {{card.status.percent}}%.
          Покупайте больше! При сумме покупок более {{card.status.amount_to}} руб. Ваш кэш бек уже {{bonusLevels[level].percent}}%
        </span>
        <ng-template #lastLevel>
          <span>
            Поздравляем!
            Ваш статус {{card.status.name}}, Вам доступен кэш бек {{card.status.percent}}%.
            Пользуйтесь картой, для сохранения статуса. При отсутствии покупок в течение месяца, ваш статус будет снижен.
          </span>
        </ng-template>
      </div>
    </ng-template>

    <div class="lk_card">
      <div class="content">
        <div class="lk_card--title">Моя карта: {{card.number | card}}</div>
        <div class="lk_card--content">
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="lk_card--image">
                <img src="assets/img/card-level-{{level>=3? 3 : level}}.png" alt="{{level}}">
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="lk_profile--ball">
                Сумма покупок по карте <span>{{card.self_points | thousand}}</span>
              </div>
              <div class="lk_profile--ball">
                Статус <span>{{card.status.name}}</span>
              </div>
              <div class="lk_profile--ball">
                Курс балла <span>1 - 1 <i class="mdi mdi-currency-rub"></i></span>
              </div>
              <div class="lk_profile--ball">
                Сумма доступная к списанию в рублях <span>{{card.points | thousand}}
                <i class="mdi mdi-currency-rub"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--<div class="lk_promotions">
      <div class="lk_title text-center">Магазины</div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4" *ngFor="let _partner of partners">
          <partner-card [partner]="_partner"></partner-card>
        </div>
      </div>
      <div class="text-center">
        <button routerLink="/partners" class="btn btn-neutral btn-simple">Все магазины</button>
      </div>
    </div>-->
  </div>
</div>