
<div class="lk_content">
  <div class="lk_content--wrap">
    <div class="card_list">
      <!--<div class="content">
        <div class="card_list&#45;&#45;item">
          <div class="checkbox checkbox-inline">
            <input type="checkbox" name="" id="card1" value="1" checked>
            <label for="card1">
              <img src="assets/img/card.png" alt="">
            </label>
          </div>

          <div class="card_list&#45;&#45;title">
            &lt;!&ndash;Карта болельщика&ndash;&gt;{{ 'user_card' | translate }}
          </div>
          <div class="card_list&#45;&#45;num">
            1234 1234 1234 1234
          </div>
          <div class="card_list&#45;&#45;score">
            2555 балов
          </div>
        </div>
      </div>-->
    </div>

    <div class="row align-items-center">
      <div class="col-12 col-md-5">
        <div class="lk_title">История покупок</div>
      </div>
      <div class="col-12 col-md-7">
        <div class="row">
          <div class="col-12 col-sm-7">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="За период"
                     bsDaterangepicker
                     [(ngModel)]="bsRangeValue"
                     (ngModelChange)="onDateRangeChange()">
              <span class="input-group-addon">
                <i class="now-ui-icons ui-1_calendar-60"></i>
              </span>
            </div>
          </div>
          <div class="col-12 col-sm-5">
            <select class="form-control" [(ngModel)]="filter.status">
              <option [value]="null">Все операции</option>
              <option [value]="1">Начисления</option>
              <option [value]="2">Списания</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="lk_history">
      <div class="content">
        <div class="lk_history--item"
             *ngFor="let hist of history
             | fromDateToDate : bsRangeValue[0] : bsRangeValue[1] : 'created_at'
             | filter: filter
             | paginate: { itemsPerPage: 15, currentPage: currentPage};
              trackBy: hist?.date">
          <div class="row align-items-center">
            <div class="col-12 col-sm-2">
              <div class="lk_history--date">
                <span class="lk_history--day">{{hist.created_at | date: 'dd.MM.yy HH:mm'}}</span><!---->
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="lk_history--title">
                <span class="lk_history--img"><img src="assets/img/card.png" alt="card"></span>
                {{hist.description}}
              </div>
            </div>
            <div class="col-12 col-sm-2 text-right">
              {{hist.amount}}
            </div>
            <div class="col-12 col-sm-2 text-right">
              <span class="text-success">{{hist.trans}}</span>
            </div>
          </div>
        </div>
        <pagination-controls (pageChange)="currentPage=$event"
                             maxSize="9"
                             directionLinks="false"
                             autoHide="true"
                             class="pagination pagination-success"></pagination-controls>

      </div>
    </div>
  </div>
</div>