
<div class="lk_content">
  <div class="lk_content--wrap">

    <p class="alert alert-success">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente ad maiores aperiam nostrum minima repellendus, consectetur, voluptatibus dolorum illo, quis quia provident suscipit eum explicabo omnis doloremque nihil sed nulla!</p>

    <div class="lk_card">
      <div class="content">
        <div class="lk_card--title">Моя карта: 7789 0041 0997 8126</div>
        <div class="lk_card--content">
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="lk_card--image"><img src="assets/img/card.png" alt=""></div>
            </div>
            <div class="col-12 col-md-6">
              <div class="lk_profile--ball">Общая сумма начисленных баллов <span>3 605</span></div>
              <div class="lk_profile--ball">Статус <span>Серебрянный</span></div>
              <div class="lk_profile--ball">Курс балла <span>1 - 1 ₽</span></div>

              <div class="lk_profile--ball">Сумма доступная к списанию в рублях <span>360 ₽</span></div>
              <div class="lk_profile--ball">Общий оборот по карте <span>1212 ₽</span></div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="lk_promotions">
      <div class="lk_title">Текущие акции для вас</div>
      <div class="row">
        <div class="col-12 col-xs-6 col-md-4">
          <a class="lk_promotions--item">
            <span class="lk_promotions--img"><img src="assets/img/gift.png" alt=""></span>
            <span class="lk_promotions--title">Название акции</span>
            <span class="lk_promotions--date">с 12.12.0001 по 12.12.3001</span>
            <span class="lk_promotions--town">Санкт-Петербург</span>
          </a>
        </div>
        <div class="col-12 col-xs-6 col-md-4">
          <a class="lk_promotions--item">
            <span class="lk_promotions--img"><img src="assets/img/gift.png" alt=""></span>
            <span class="lk_promotions--title">Название акции</span>
            <span class="lk_promotions--date">с 12.12.0001 по 12.12.3001</span>
            <span class="lk_promotions--town">Санкт-Петербург</span>
          </a>
        </div>
        <div class="col-12 col-xs-6 col-md-4">
          <a class="lk_promotions--item">
            <span class="lk_promotions--img"><img src="assets/img/gift.png" alt=""></span>
            <span class="lk_promotions--title">Название акции</span>
            <span class="lk_promotions--date">с 12.12.0001 по 12.12.3001</span>
            <span class="lk_promotions--town">Санкт-Петербург</span>
          </a>
        </div>
      </div>
      <div class="text-center">
        <a routerLink="/partners" class="btn btn-success btn-simple">Все партнеры</a>
      </div>
    </div>



  </div>
</div>