
<div [addClassAfterScroll]="50">
  <nav-header></nav-header>

  <div>
    <!-- welcome slide -->
    <div class="w_slide">
      <div class="w_slide--bg"></div>
      <div class="w_slide--content">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-12 col-lg-6">
              <div class="w_slide--img">
                <img src="assets/img/arena-card.png" alt="">
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <h1 class="page-title">{{adminH1}}</h1>
              <p>{{'home.welcomeSlide' | translate}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- welcome slide end -->

    <!-- content section 1 -->
    <div class="section_block section-1" id="section-1">
      <div class="row m-0">
        <div class="col-12 col-md-6 p-0 order-md-6">
          <div class="section_block--content">
            <div class="section_block--wrap" [innerHTML]="'home.sectionOne' | translate"></div>
          </div>
        </div>
        <div class="col-12 col-md-6 p-0 order-md-1">
          <div class="section_block--img" style="background-image: url(assets/img/section_img--1.png)"></div>
        </div>
      </div>
    </div>
    <!-- content section 1 end -->

    <!-- content section 2 -->
    <div class="section_block section-2">
      <div class="row m-0">
        <div class="col-12 col-md-6 p-0">
          <div class="section_block--content">
            <div class="section_block--wrap">
              <h3 class="page-title h2">Крупная партнерская сеть</h3>
              <p>Партнеры в большинстве регионов страны</p>
              <p>Все основные группы товаров и услуг</p>
              <a routerLink="/registration" class="btn btn-neutral btn-simple">Оформить карту</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 p-0">
          <div class="section_block--img" style="background-image: url('assets/img/section_img--2.png')"></div>
        </div>
      </div>
    </div>
    <!-- content section 2 end -->

    <!-- content section 3 -->
    <div class="section_block section-3">
      <div class="row m-0">
        <div class="col-12 col-md-6 p-0 order-md-6">
          <div class="section_block--content">
            <div class="section_block--wrap">
              <h3 class="page-title h2">Специальные предложения и уникальные акции только для держателей {{'user_cards' | translate}}</h3>
              <p>Скидки до 70% на товары</p>
              <p>Конкурсы и розыгрыши</p>
              <a routerLink="/registration" class="btn btn-neutral btn-simple">Оформить карту</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 p-0 order-md-1">
          <div class="section_block--img" style="background-image: url('assets/img/section_img--3.png')"></div>
        </div>
      </div>
    </div>
    <!-- content section 3 end -->

    <!-- content section 4 -->
    <div class="section_block section-4" id="section-4">
      <div class="row m-0">
        <div class="col-12 col-md-6 p-0">
          <div class="section_block--content">
            <div class="section_block--wrap">
              <p class="page-title h2 text-warning">Как оформить?</p>
              <!--<p class="page-title h2">Получи {{'user_card_to' | translate}} бесплатно у <a routerLink="/partners" class="">партнеров</a></p>-->
              <p class="page-title h2">Создай виртуальную карту в
                <a routerLink="/registration" class="btn btn-neutral btn-simple">личном кабинете</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 p-0">
          <div class="section_block--img" style="background-image: url('assets/img/section_img--4.png')"></div>
        </div>
      </div>
    </div>
    <!-- content section 4 end -->

    <!-- content section 5 -->
    <div class="section_block section-5" id="section-5">
      <div class="row m-0">
        <div class="col-12 col-md-4 p-0">
          <div class="section-col-1">
            <div class="section_block--content">
              <div class="section_block--wrap">
                <p class="page-title h2 text-warning">Как накопить баллы?</p>
                <p class="page-title h2">Трать меньше</p>
                <p>Ты ВСЕГДА получаешь 1% от суммы всех своих покупок баллами</p>
                <p>Накапливай баллы уже с первой покупки!</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 p-0">
          <div class="section-col-2">
            <div class="section_block--content">
              <div class="section_block--wrap">
                <p class="page-title h2">Покупай лучше</p>
                <p>Чем больше сумма покупок, тем больше баллов ты получишь</p>
                <p>Сумма покупок больше 5001 руб. – возврат 3% балами</p>
                <p>Сумма покупок больше 10 001 руб. – возврат 5% баллами</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 p-0">
          <div class="section-col-3">
            <div class="section_block--content">
              <div class="section_block--wrap">
                <p class="page-title h2">Получай больше</p>
                <p>Участвуй в акциях и получай специальные предложения</p>
                <p>400 баллов за активацию карты</p>
                <p>Выигрывай баллы онлайн - делай ставки на сайте  <a href="http://prostoprosport.ru/" target="_blank">prostoprosport.ru</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- content section 5 end -->

    <!-- content section 6 -->
    <div class="section_block section-6" id="section-6">
      <div class="row m-0">
        <div class="col-12 col-md-6 p-0 order-md-6">
          <div class="section_block--content">
            <div class="section_block--wrap">
              <p class="page-title h2 text-black">Как потратить баллы?</p>
              <p class="page-title h2">Перед покупкой товара или услуги у партнера сообщи кассиру о желании оплатить покупку баллами и они будут учтены из расчета 1 балл — 1 рубль</p>
              <p>Обрати внимание, что {{'user_card' | translate}} должна быть активирована!</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 p-0 order-md-1">
          <div class="section_block--img" style="background-image: url('assets/img/section_img--6.jpg')"></div>
        </div>
      </div>
    </div>
    <!-- content section 6 -->

    <!-- content section 7 -->
    <!--<div class="section_block section-7">

      <div class="container">
        <div class="row align-items-center">
          <div class="col-12">
            <p class="page-title h2">Где воспользоваться?</p>
          </div>
          <div class="col-12">
            <div class="row justify-content-md-center">
              <div class="col-6 col-sm-3">
                <div class="partner_logo">
                  <img src="assets/img/partner_logo&#45;&#45;1.png" alt="">
                </div>
              </div>
              <div class="col-6 col-sm-3">
                <div class="partner_logo">
                  <img src="assets/img/partner_logo&#45;&#45;2.png" alt="">
                </div>
              </div>
              <div class="col-6 col-sm-3">
                <div class="partner_logo">
                  <img src="assets/img/partner_logo&#45;&#45;3.png" alt="">
                </div>
              </div>
              <div class="col-6 col-sm-3">
                <div class="partner_logo">
                  <img src="assets/img/partner_logo&#45;&#45;4.png" alt="">
                </div>
              </div>
            </div>
          </div>

          <div class="col-12">
            <a routerLink="/partners" class="btn btn-neutral btn-simple">Больше предложений</a>
          </div>
        </div>
      </div>

    </div>-->
    <!-- content section 7 end -->
  </div>
</div>