
<div><!-- [addClassAfterScroll]="50"-->
  <!-- welcome slide -->
  <div class="w_slide">
    <div class="w_slide--bg"></div>
    <div class="w_slide--content">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-7 col-xl-8">
          </div>
          <div class="col-12 col-lg-5 col-xl-4">
            <h1 class="page-title"><span>ЕДИНАЯ <br>ТУРИСТИЧЕСКАЯ <br>КАРТА <br> КРЫМА</span></h1>
            <p>Специальные предложения и акции только для держателей карт</p>
          </div>

        </div>

      </div>
    </div>
  </div>
  <!-- welcome slide end -->

  <!-- content section 1 -->
  <div class="section_block section-1" id="section-1">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-5">
          <div class="section_block--content">
            <div class="section_block--img">
              <img src="assets/img/s1-img.png" alt="">
            </div>
            <h3 class="page-title h2">Получайте Баллы за все покупки участниками дисконтной программы</h3>
            <p>Вы получаете двойную выгоду</p>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-5">
          <div class="section_block--content">
            <div class="section_block--img">
              <img src="assets/img/s2-img.png" alt="">
            </div>
            <h3 class="page-title h2">Специальные предложение и акции только для держателей карт </h3>
            <p>СКИДКИ до 70% на товары!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <a routerLink="/registration" class="btn btn-default btn-simple">ОФОРМИТЬ</a>
    </div>
  </div>
  <!-- content section 1 end -->

  <!-- content section 2 -->
  <div class="section_block section-2">
    <div class="container">
      <div class="row m-0">
        <div class="col-12 col-md-6">
          <div class="section_block--content">
            <div class="section_block--img">
              <img src="assets/img/s3-img.png" alt="">
            </div>
            <h3 class="page-title h2">Более 100 партнеров, где можно получить и потратить баллы</h3>
            <p>Количество партнеров активно увеличивается!</p>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="section_block--content">
            <div class="section_block--img">
              <img src="assets/img/s4-img.png" alt="">
            </div>
            <h3 class="page-title h2">Оплата товаров и услуг баллами преобретая товары </h3>
            <p>Баллами можно Рассчитываться при следующих покупках!</p>
          </div>
        </div>
      </div>
      <div class="text-center">
        <a routerLink="/registration" class="btn btn-default btn-simple">ОФОРМИТЬ</a>
      </div>
    </div>

  </div>
  <!-- content section 2 end -->

  <!-- content section 3 -->
  <div class="section_block section-3" id="section-4">
    <div class="row align-items-center">
      <div class="col-12 col-md-6 p-0 order-md-6">
        <div class="section_block--img"></div>
      </div>
      <div class="col-12 col-md-6 p-0 order-md-1">
        <div class="section_block--content">
          <div class="section_block--wrap">
            <h3 class="page-title h2">Как оформить?</h3>
            <p>Получи карту бесплатно у партнеров</p>
            <p>Создай виртуальную карту в <a routerLink="/registration">личном кабинете</a></p>
            <p>Накапливайте баллы уже с первой покупки.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- content section 3 end -->

  <!-- content section 4 -->
  <div class="section_block section-4" id="section-5">
    <div class="row m-0 align-items-center">
      <div class="col-12 col-md-6 p-0 order-md-1">
        <div class="section_block--img"></div>
      </div>
      <div class="col-12 col-md-6 p-0 order-md-6">
        <div class="section_block--content">
          <div class="section_block--wrap">
            <h3 class="page-title h2">Как накопить?</h3>
            <p>За каждые 100 руб. в чеке вы получаете 1 балл.</p>
            <p>Покупайте больше. Когда сумма ваших покупок больше 5000 руб. за каждые 100 руб. вы получаете 3 балла. </p>
            <p>Участвуйте в акциях – получайте больше баллов от партнеров</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- content section 4 end -->

  <!-- content section 5 -->
  <div class="section_block section-5" id="section-6">
    <div class="row m-0 align-items-center">
      <div class="col-12 col-md-6 p-0 order-md-6">
        <div class="section_block--img"></div>
      </div>
      <div class="col-12 col-md-6 p-0 order-md-1">
        <div class="section_block--content">
          <div class="section_block--wrap">
            <h3 class="page-title h2">Как потратить баллы?</h3>
            <p>1 балл – 1 рубль</p>
            <p>Перед покупкой сообщите кассиру о желании оплатить баллами </p>
            <p>Оплата баллами возможна только после активации карты. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- content section 5 end -->

  <!-- content section 6 -->
  <div class="section_block section-6">
    <img src="assets/img/s6-bg1.png" alt="">
  </div>
  <!-- content section 6 end -->
</div>