

<button class="btn btn-success btn-round" loginModalButton>
    Войти
</button>

<a routerLink="/">Home</a>
<a routerLink="/registration">regs</a>
<a routerLink="/restore-password">restore</a>
<a routerLink="/supplier">supplier</a>
<a routerLink="/suppliers">suppliers</a>
<a routerLink="/login">login</a>
<a routerLink="/geo">geo</a>

<div *ngFor="let user of users; let $index = index">
    {{$index}} / {{user.login}}
</div>

<!--<a routerLink="/registration" class="btn btn-primary btn-round">
    Зарегистрироваться&nbsp;<i class="material-icons">assignment_ind</i>
</a>-->