.control-label {
    margin-top: .5rem;
}

// status label
.lk_status--label {
	display: inline-block;
	border-radius: 10px;
	// color: $white-color;
	padding: 0 5px;
	&.label-1 {
		background: $color-1;
	}
	&.label-2 {
		background: $color-2;
	}
	&.label-3 {
		background: $color-3;
	}
}